h1 {
    font-weight: 400;
    text-align: center;
}

div {
    text-align: center;
    color: #888888;
    font-size: 12px;

}

a {
    text-decoration: none;
}

.search {
    color: #666;
    width: 180px;
    
}

.btn {
    font-weight: 700;
}

p {
    text-indent: 2em;
}

.pic {
    text-align: center;
}

.poster {
    text-align: left;
    color: grey;
    text-indent: 0;
}